@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,800');

@import "ultilities/initial-variables";
@import "ultilities/derived-variables";
@import "ultilities/generic-variables";

// Update another Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;



